.SlideOne{
    background-image:url('http://www.fundacionoscarez.org/img/slides/1.png');
}

.SlideTwo{
    background-image:url('http://www.fundacionoscarez.org/img/slides/2.png');
}

.SlideThree{
    background-image:url('http://www.fundacionoscarez.org/img/slides/3.jpg');
}

