
@{
    ViewBag.Title = "Convocatorias Oscarez";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Convocatorias <small> - ¿quieres trabajar con nosotros?</small></h2>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="active">¿quieres trabajar con nosotros?</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Esta pagina se encuentra en desarollo, esperala proximamente.</h2>
        <br />
        <img class="img-responsive" src="/Images/enconstruccion.jpg" alt="Pagina en construcción">
    </div>
</div>

