@{
    ViewBag.Title = "Fundación Oscarez";
}

    <!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Programas y Proyectos
        </h1>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/proyecto.jpg" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Visita la pagina web de nuestro instituto oscarez para el saber</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="http://www.institutooscarez.com.co/" target="_blank">Institución Oscarez</a>
        </div>
    </div>
</div>