@{
    ViewBag.Title = "Nuestra Experiencia";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Quienes somos<small> - nuestra experiencia</small></h2>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="active">Nuestra experiencia</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3><strong>EVALUACIÓN POR COMPETENCIAS</strong></h3>
        <p style="text-align: justify">
            Durante varios años, hemos formado estudiantes de la ciudad de Medellín, a través de este proyecto, el cual, se focaliza, esencialmente, en realizar la formación, capacitación y asesoría, a través de seminarios
            y conferencias, a estudiantes del grado once, de Instituciones Educativas oficiales del Municipio de Medellín, asignadas por la Secretaría de Educación de Medellín.
        </p>

        <p style="text-align: justify">
            El objetivo central de este programa, es el de capacitar estudiantes, en pruebas tipo <strong>SABER</strong>, con un modelo orientado por el Instituto Oscarez, en el cual, se brindan conceptos
            teórico-prácticos a los estudiantes. Se les enseña a descartar dos de cuatro opciones de respuesta, se les explica la opción correcta y se les facilitan técnicas de solución de preguntas tipo
            selección múltiple, con única respuesta y preguntas abiertas. Los docentes se desplazan hasta las instituciones educativas, el día y horario acordado, de acuerdo con la necesidad de las
            Instituciones. Allí se reúnen con los estudiantes, para impartir la asesoría en pruebas tipo <strong>SABER</strong> y se hace entrega del material de trabajo. Se les aclaran dudas,
            sobre los conceptos necesarios para resolver este tipo de pruebas.
        </p>

        <h3><strong>OBJETIVOS ESPECÍFICOS</strong></h3>
        <ul>
            <li>Mejorar, de manera significativa, los resultados de las pruebas <strong>SABER</strong>, presentados por los estudiantes de las Instituciones Educativas de la ciudad.</li>
            <li>Proyectar al estudiante a la Educación Superior</li>
            <li>Responder a los requerimientos del contexto educativo</li>
            <li>Acatar disposiciones del Ministerio de Educación Nacional</li>
            <li>Ubicar un mayor número de Instituciones Educativas oficiales de Medellín, entre las mil (1000) mejores de Colombia, en Pruebas <strong>SABER</strong> 11°.</li>
            <li>Satisfacer las expectativas de las Comunidades Educativas en cuanto al alcance de  logros académicos.</li>
        </ul>

        <h3><strong>LOGROS</strong></h3>
        <p style="text-align: justify">
            En el  2012 se intervinieron siete instituciones educativas oficiales, de jornada regular, de las cuales el 80% subió su promedio en las asignaturas y en la clasificación <strong>SABER ICFES</strong>,
            tres de ellas elevaron su nivel.
        </p>
        <p align="justify" style="text-align: justify">
            En el año 2013 se intervinieron 36 instituciones educativas, de jornada regular y 9 nocturnas, de las cuales el 77% mejoró su promedio, en las asignaturas y en la clasificación <strong>SABER ICFES</strong>,
            el 28%  de ellas, mejoraron su nivel.
        </p>
        <p style="text-align: justify">
            En el año 2014 se intervinieron 104 instituciones educativas, de jornada regular y 9 nocturnas, de las cuales el 67% mejoró su promedio, en las asignaturas y en la clasificación <strong>SABER ICFES</strong>
            el 40%  de ellas, mejoraron su nivel.
        </p>
        <p style="text-align: justify">
            En el año 2015 se intervinieron 89 instituciones educativas, de jornada regular y 10 nocturnas, de las cuales el 60% mejoró su promedio, en las asignaturas y en la clasificación <strong>SABER ICFES</strong>
            el 28%  de ellas, mejoraron su nivel.
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading" align="center">
                <strong>Resultados Ultimos Años</strong>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center"><strong>AÑO</strong></th>
                        <th style="text-align:center"><strong>INSTITUCIONES INTERVENIDAS</strong></th>
                        <th style="text-align:center"><strong>ESTUDIANTES</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center">
                        <td>2012</td>
                        <td>7</td>
                        <td>200</td>
                    </tr>
                    <tr style="text-align:center">
                        <td>2013</td>
                        <td>30</td>
                        <td>3000</td>
                    </tr>
                    <tr style="text-align:center">
                        <td>2014</td>
                        <td>106</td>
                        <td>8443</td>
                    </tr>
                    <tr style="text-align:center">
                        <td>2015</td>
                        <td>88</td>
                        <td>6127</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <h3><strong>COLEGIO EDUCACIÓN PARA EL TRABAJO</strong></h3>
        <p style ="text-align: justify">
            Este proyecto está enfocado en ayudar a los habitantes de las comunas periféricas de la ciudad, dado que, en ellas, es donde se encuentran los mayores niveles de pobreza y necesidades de la ciudad.
            Igualmente, los jóvenes se encuentran expuestos a una gran cantidad de posibilidades que atentan contra su dignidad como sujetos de bien y ponen en riesgo su vida, al no permitirles crear,
            crecer y sacar adelante sus proyectos de vida.
            </p>

        <p style="text-align: justify">
            Se trata de un proyecto que ofrece una educación para el trabajo en las comunas de Medellín, posibilitando una educación que facilite al estudiante, finalizar su media académica y tener al mismo tiempo
            un certificado para el trabajo, el cual estará orientado a las técnicas de: Comercio, mecánica, soldadura, conducción y  otras.  Por tanto, cuando un estudiante se gradúe en once (de la media), podrá
            tener otra opción de vida que, será la de poder entrar a trabajar de acuerdo con la técnica elegida, ya que, en el colegio <strong>Oscarez</strong>, se le capacitará para que pueda generar ingresos para su familia,
            a través de, estas técnicas para el trabajo.
        </p>

        <p style="text-align: justify">
            Por el impacto de este proyecto a nivel social, requerimos de su aporte, puesto que, para su ejecución, se precisa de una sede, recursos materiales y humanos. Si desea participar en este proyecto, puede hacerlo,
            a través de su aporte, en la cuenta que le estaremos informando a través de nuestro contáctenos. Si deseas participar en nuestros proyectos, puedes hacerlo, a través de tu aporte, en la cuenta ahorros
            Bancolombia No. 097-525346-21, a nombre de Fundación Oscarez.
        </p>

</div>
</div>