@{
    ViewBag.Title = "Quienes somos";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Quienes somos <small>Nuestra historia</small></h2>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="active">Nuestra historia</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 pull-left">
            <img src="http://placehold.it/750x450" class="img-responsive">
        </div>
        <div class="col-md-6 pull-right">
            <h2>Reseña Historica</h2>
            <p>La Fundación Oscarez, es una entidad constituida y registrada en el año 2010, en el Libro 1, bajo el número 523 de la Cámara de Comercio de Medellín. Desde esa fecha, su misión es impactar positivamente a las comunidades menos beneficiadas, mediante eventos educativos y sociales. Durante los años 2010 y 2011 los Fundadores trabajaron en identificar puntos fuertes de impacto a través de capacitaciones en instituciones pilotos implementando alternativas complementarias de aprendizaje y eventos sociales mediante los cuales se identificaron las necesidades de la comunidad.</p>
            <p>
                A partir del año 2012 La Fundación concentró sus esfuerzos en el componente educativo, bajo unas estrategias de resolución de preguntas tipo Saber; las cuales han sido implementadas desde entonces y acogidas por la Secretaría de Educación del Municipio de Medellín, en el marco del Proyecto Evaluación por Competencias; el cual ha sido operado mediante un clúster con la Universidad de Medellín en toda el área Metropolitana, beneficiando hasta 8500 estudiantes de escasos recursos en el 2014 y proyectando al 2015 un número de beneficiados de 9200 estudiantes. Nuestro objetivo
                es aumentar exponencialmente el número de beneficiados cada año. Desde su constitución al día de hoy, la entidad se ha ido consolidando y creciendo, logrando generar 10 empleos directos y hasta 450 empleos indirectos; con los cuales se desarrollan las diferentes actividades, tales como proveer refrigerios, formar a los estudiantes y coordinar logísticamente las actividades. Estamos orientados a seguir creciendo, con el propósito de beneficiar e impactar de manera social a las personas menos favorecidas; es por eso, que surge la necesidad de implementar nuevas estrategias y
                ampliar nuestro portafolio de servicios en aras de acercarnos día a día a nuestra visión.
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Misión</h2>
    </div>
    <div class="col-md-12">
        <p>La Fundación OSCAREZ ejecuta proyectos y programas con instituciones y entidades públicas / privadas que generen impacto en el tejido social de la comunidad, contribuyendo al mejoramiento de la calidad de vida de la pobalación atendida en el marco de sus diferentes proyectos. Abierta a la diversidad y a la inclusión, comprometida con el cambio de su entorno social fomentando los valores y desarrollando habilidades y destrezas para formar ciudadanos competentes en el ser, el saber, y el hacer, desde la investigación y la responsabilidad social con la población más vulnerable.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visión</h2>
    </div>
    <div class="col-md-12">
        <p>En el año 2021 la Fundación OSCAREZ será reconocida por la ejecución de proyectos a nivel local, regional y nacional contribuyendo al desarrollo de la comunidad educativa y la población más vulnerable, generando un impacto positivo en materia educativa y social elevando el nivel de vida de la población a la cual dirige su labor con sus procesos de inclusion y desarrollo integral desde el mejoramiento academico continuo y la implementacion de estrategias de investigación atendiendo a una sociedad multicultural y globalizada.</p>
    </div>
</div>

